.example-container.mat-elevation-z8 {
    box-shadow: none;
    border-right: 1px solid #888;
}

.mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell.mat-mdc-table-sticky.mat-mdc-table-sticky-border-elem-top {
    text-align: center;
    padding: 20px 0;
}

.mat-mdc-cell.mdc-data-table__cell.cdk-cell {
    text-align: center;
    padding: 20px 0;
}