.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 45px 20px 20px;
    height: 100vh;
    width: 200px;
    background-color: #25262a;
    .sidebar-ul {
        height: 65vh;
        text-align: center;
        .sidebar-li {
            margin-bottom: 18px;
        }
    }
}