<section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="datetime">
            <th mat-header-cell *matHeaderCellDef>日付</th>
            <td mat-cell *matCellDef="let element"> {{element.datetime}} </td>
        </ng-container>
        <ng-container matColumnDef="signal">
            <th mat-header-cell *matHeaderCellDef>シグナル</th>
            <td mat-cell *matCellDef="let element"> {{element.signal}} </td>
        </ng-container>
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>ポジション</th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>
  